body{
    background: url('images/bg.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
}
fieldset{
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.logo{
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 300px;
    
}
.logo img{
    width: 100%;
    height: auto;
}
.imgAndname{
    padding: 35px;
    background-color: rgba(41, 40, 40, 0.349);
    color:white;
    height: 45%;
    text-align: center;
}
.sign-up-form{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 10px;
}
.invitation{
    padding: 100px 0px;
    font-size: 4rem;
}
.sign-up-form form{
    width: 100%;
}
.row{
    width: 98%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.row div{
    flex:1;
}
.row div input{
    height: min(10px,calc(100%- 24px));
    width: max(98%);
}
.row div label{
    color: rgba(41, 40, 40, 0.63);
    font-family: 'Lilita One', sans-serif;
    font-size: 24px;
}
.row #Submit{
    width: min(400px,100%);
    height: 100%;
    font-family: 'lilita one', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}
.error{
    border: 2px solid red;
    box-shadow: 2px 2px 10px red;
}